<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PrivacyCollectedDataTypes</key>
    <array/>
    <key>PrivacyCollectedDataTypesPerDataPractice</key>
    <dict>
        <key>NSPrivacyCollectedDataThatDoesNotIdentifyAUser</key>
        <array/>
        <key>NSPrivacyCollectedDataThatIdentifiesAUser</key>
        <array/>
        <key>NSPrivacyCollectedDataLinkedToAUser</key>
        <array/>
    </dict>
    <key>PrivacyTrackingDomains</key>
    <array/>
    <key>PrivacyTracking</key>
    <false/>
</dict>
</plist>