build/
DerivedData/
*.xcworkspace/
*.swiftpm/
.DS_Store
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
CleanKeys.xcodeproj/project.xcworkspace/
CleanKeys.xcodeproj/xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcscmworkbook
*.xcresult
*.log
*.diagnostics
tmp/
*.xctestplan/
.swiftpm/build